
body {
    font-family: 'Nanum Gothic', sans-serif;
}

* {
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navbar {
 background-color: #1F1F1F;
 height: 80px;
 text-align: center;
 top:0;
 width: 100%;
 position: fixed;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
}



.navbar > a:hover {
    background-color: grey;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
     line-height: 80px;
     margin: 0 5px;
}

nav ul li a {
        color: whitesmoke;
        font-size: 2rem;
        font-weight: 100;
    }