
body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: black;
}

* {
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navbar {
 background-color: #1F1F1F;
 height: 80px;
 top:0;
 width: 100%;
 position: fixed;
}

label.logo {
    color: white;
    font-size: 45px;
    line-height: 80px;
    padding: 0 100px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
     line-height: 80px;
     margin: 0 5px;
}

nav ul li a {
        color: whitesmoke;
        font-size: 2rem;
        font-weight: 100;
        border-radius: 5%;
    }

 footer > a:hover,   a:hover {
        background: grey;
        transition: 1s;
    }

.band-img {
    max-width: 100%;
    height:auto;
    padding: 0;
}

.float-left {
    float:left;
    max-width: 60%;
}


#decks-img {
    max-width: 100%;
      height: auto;
      display: inline-block;
}

.float-right {
    float: right;
    display: inline-block;
vertical-align: top;
text-align: center;
}

h2 {
    padding: 10%;
}

.about {
width:40%;
color: whitesmoke;
padding: 10%;
/* background-color: #1F1F1F; */
}


#tour {
    color: white;
    /* background-color: grey; */
    text-align: center;
    font-size: large;
    padding-bottom: 20px;
}

form {
    border: 4px solid lightgray;
    padding: 20px;
}

legend {
    color: white;
    text-align: center;
}

.mail {
    display: inline-block;
padding: 20px;
background-color: lightgray;
}



footer {
    clear: both;
    position: relative;
    z-index: 1;
    height:-3em;
    margin-top: 40em; 
    background-color: #1F1F1F;
    width: 100%;
    text-align: center;
    color: white; 
    padding:2em;
}

footer > a {
    color: beige;
    border-radius: 5%;
}
