
body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #393b39;
}

* {
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navbar {
 background-color: #1F1F1F;
 height: 80px;
 top:0;
 width: 100%;
 position: fixed;
}

label.logo {
    color: white;
    font-size: 45px;
    line-height: 80px;
    padding: 0 100px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
     line-height: 80px;
     margin: 0 5px;
}

nav ul li a {
        color: whitesmoke;
        font-size: 2rem;
        font-weight: 100;
        border-radius: 5%;
    }

    a:hover {
        background: grey;
        transition: 1s;
    }

.band-img {
    max-width: 100%;
    height:auto;
}

.float-left {
    float:left;
    max-width: 60%;
}


#decks-img {
    max-width: 100%;
      height: auto;
      display: inline-block;
}

.float-right {
    float: right;
    display: inline-block;
vertical-align: top;
text-align: center;
}

h2 {
    padding: 10%;
}

.about {
width:40%;
color: whitesmoke;
padding: 10%;
border-radius: 15%;
background-color: #cccccc;
}